.cardcontainer {
    background-color: #e4e1f7;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Dark mode Card Container */
body[data-theme='dark'] .cardcontainer {
    background-color: #8A86A4; 
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
}

.cardcontainer:hover{
    background-color: #ddd9e3;
}

/* Dark mode hover effect */
body[data-theme='dark'] .cardcontainer:hover {
    background-color: #827f7f; 
}

.cardimage {
    height: 200px;
    width: 250px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.information {
    width: 220px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #424242;
}

/* Dark mode information section */
body[data-theme='dark'] .information {
    color: white; 
}

.icon {
    cursor: pointer;
    font-size: 22px;
}

.icon:hover {
    fill: #424242;
    font-size: 25px;
}

/* Dark mode icon hover effect */
body[data-theme='dark'] .icon:hover {
    fill: white; 
}

.name {
    font-size: 15px;
}

@media (max-width: 810px) {
    .cardcontainer {
        margin: 12px;
    }
}
