.cardlist {
    height: fit-content;
    width: 900px;

    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;

    justify-content: center;
    align-content: flex-start;

    margin-bottom: 20px;
}

.listitem {
    width: fit-content;
    height: fit-content;
}

@media (max-width: 1200px) {
    .cardlist {
        width: 700px;
        height: fit-content;
        gap: 8px;
    }
}

@media (max-width: 900px) {
    .cardlist {
        width: 500px;
        height: fit-content;
        gap: 8px;
    }
}

@media (max-width: 620px) {
    .cardlist {
        width: 300px;
        height: fit-content;
        gap: 30px;
    }
}
