node_modules
dist/

# Migration files
prisma/migrations/

# Keep environment variables out of version control
.env
.env.local

# Editor directories and files
.DS_Store

# package-lock json
package-lock.json