.pagecontainer {
    margin-top: 40px;
    margin-bottom: 60px;

    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
}

.noCountry {
    height: 500px;
    width: 100%;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: fit-content;
    width: 900px;
}

.return {
    width: fit-content;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
    text-decoration: none;
    color: #424242;
}

.return:hover {
    text-decoration: underline;
}

body[data-theme="dark"] .returntext:hover{
    color: white;
    text-decoration: underline;
}

.returnicon {
    font-size: 22px;
}

.returntext {
    font-size: 20px;
}

.countryname {
    margin-top: 10px;
    font-weight: 400;
    color: #424242;
    font-size: 30px;
}

.countrycontinent {
    font-size: 20px;
    color: #424242;
}

.countryimage {
    width: 45%;
    height: 300px;

    border-radius: 10px;
}

.funfacts {
    width: 100%;
    height: fit-content;
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.funfactbox {
    background-color: #e4e1f7;
    color: #424242;

    width: 50%;
    height: 300px;

    border-radius: 10px;

    gap: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
}

body[data-theme="dark"] .funfactbox {
    background-color: #8a86a4;
    color: white;
}

.funfact {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    gap: 10px;
}

.funfacttext {
    font-size: 15px;
}

.icon {
    font-size: 24px;
}

.infobox {
    width: 100%;
    height: fit-content;
    margin-top: 50px;
}

.infotitle {
    font-size: 24px;
    font-weight: 400;
}

.infotext {
    font-size: 16px;
    line-height: 2;
    text-align: center;
}

.info {
    width: 100%;
    height: fit-content;
    padding: 30px;
    box-sizing: border-box;

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-radius: 10px;
    background-color: #e4e1f7;
    color: #424242;
    gap: 18px;
}

body[data-theme="dark"] .info {
    background-color: #8a86a4;
    color: white;
}

/* Journal Section */
.journalSection {
    margin-top: 50px;
    padding: 20px;
    background-color: #e4e1f7;
    min-height: 100px; /* Ensures the section is visible even if empty */
    color: #424242;
}

body[data-theme="dark"] .journalSection {
    background-color: #8a86a4;
    color: white;
}

.noEntriesMessage {
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
}

.penIcon {
    margin-left: 8px;
    font-size: 18px;
}

.addEntryButton {
    display: inline-flex;
    background-color: #fcf5ff;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
}

body[data-theme="dark"] .addEntryButton {
    background-color: #424242;
}

.addEntryButton:hover {
    background-color: #ddd9e3;
}

body[data-theme="dark"] .addEntryButton:hover {
    background-color: #827f7f;
}

.journalHeader {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 20px;
}

.journalTitle {
    font-size: 20px;
    font-weight: 500;
}

.horizontalLine {
    border-top: 1px solid #424242;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #424242;
}

body[data-theme="dark"] .horizontalLine {
    border-top: 1px solid white;
    color: white;
}

body[data-theme="dark"] .returnicon,
body[data-theme="dark"] .returntext,
body[data-theme="dark"] .countryname,
body[data-theme="dark"] .countrycontinent,
body[data-theme="dark"] .funfacttext,
body[data-theme="dark"] .icon,
body[data-theme="dark"] .infotitle,
body[data-theme="dark"] .infotext {
    color: white; /* Ensure all texts are white in dark mode */
}

@media (max-width: 900px) {
    .container {
        width: 600px;
    }

    .countryimage {
        width: 100%;
    }

    .funfacts {
        width: 100%;
        height: fit-content;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .funfactbox {
        width: 100%;
        height: fit-content;
    }
}

@media (max-width: 620px) {
    .container {
        width: 380px;
    }

    .countryimage {
        width: 100%;
    }

    .funfacts {
        width: 100%;
        height: fit-content;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .funfactbox {
        width: 100%;
        height: fit-content;
    }

    .returnicon {
        font-size: 18px;
    }

    .returntext {
        font-size: 16px;
    }

    .countryname {
        font-size: 26px;
    }

    .countrycontinent {
        font-size: 15px;
    }

    .funfacttext {
        font-size: 13px;
    }

    .icon {
        font-size: 20px;
    }

    .infotitle {
        font-size: 20px;
    }

    .infotext {
        font-size: 14px;
        line-height: 2;
    }
}

@media (max-width: 420px) {
    .container {
        width: 320px;
    }

    .countryimage {
        width: 100%;
    }

    .funfacts {
        width: 100%;
        height: fit-content;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .funfactbox {
        width: 100%;
        height: fit-content;
    }

    .returnicon {
        font-size: 18px;
    }

    .returntext {
        font-size: 16px;
    }

    .countryname {
        font-size: 26px;
    }

    .countrycontinent {
        font-size: 15px;
    }

    .funfacttext {
        font-size: 13px;
    }

    .icon {
        font-size: 20px;
    }

    .infotitle {
        font-size: 20px;
    }

    .infotext {
        font-size: 14px;
        line-height: 2;
    }
}
