.maincontainer {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    height: fit-content;
    width: 1200px;

    gap: 20px;
}

.pagination {
    margin-bottom: 20px;
}

.title {
    color: #424242;
    font-size: 30px;
}

.maincontent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.noResultsMessage {
    text-align: center;
}

.filters {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: flex-end;
    justify-content: space-around;
}

.sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: #424242;
}

.sorticon {
    font-size: 18px;
}

.sorttext {
    font-size: 14px;
}

.sortdropdown {
    border: none;
    color: #424242;
    font-size: 14px;
}

@media (max-width: 1200px) {
    .container {
        margin-left: 40px;
        width: 1000px;
    }
}

@media (max-width: 1000px) {
    .container {
        width: 900px;
    }
}

@media (max-width: 850px) {
    .container {
        width: 750px;
        padding: 0px 20px;
    }

    .sorttext {
        font-size: 12px;
    }

    .sortdropdown {
        font-size: 12px;
    }

    .filters {
        gap: 10px;
    }
}

@media (max-width: 750px) {
    .container {
        flex-direction: column;
        margin: 0px;
        align-items: center;
        width: 350px;
    }

    .title {
        display: none;
    }

    .sorttext {
        display: none;
    }
}
