/* General CSS here */
.page {
    display: grid;
    place-items: center;
    margin-top: 4.5%;
}

.imageArticle {
    width: 95%;
    height: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 10px;
}

/*Display specific CSS below */

@media (min-width: 1081px) {
    /*Display */

    .topText {
        position: absolute;
        width: fit-content;
        height: fit-content;
        transform: translate(-50%, -50%);
        color: #eeeeee;
        font-size: 30px;
        font-style: italic;
        text-align: center;
        top: 32%;
    }

    .bottomText {
        position: absolute;
        width: fit-content;
        height: fit-content;
        transform: translate(-50%, -50%);
        color: #ffffff;
        font-size: 50px;
        font-style: italic;
        text-align: center;
        top: 55%;
    }

    .image {
        max-height: auto;
        position: relative;
        filter: opacity(0.8);
        filter: contrast(80%);
        object-fit: cover;
    }
}

@media (max-width: 1280px) {
    /*Tablet */

    .imageArticle {
        height: 350px;
    }
    .topText {
        position: absolute;
        width: 90%;
        height: fit-content;
        transform: translate(-50%, -50%);
        color: #ffffff;
        font-size: 30px;
        font-weight: 300;
        font-style: italic;
        text-align: center;
        top: 35%;
    }

    .bottomText {
        position: absolute;
        width: 75%;
        height: fit-content;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #f7f7f7;
        font-size: 40px;
        font-style: italic;
        text-align: center;
    }

    .image {
        max-height: auto;
        max-width: 90vw;
        position: relative;
        filter: opacity(0.8);
        filter: contrast(80%);
        object-fit: cover;
    }
}

@media (max-width: 770px) {
    .imageArticle {
        margin-bottom: 0px;
    }

    .topText {
        font-size: 15px;
        top: 42%;
    }

    .bottomText {
        font-size: 20px;
        top: 55%;
    }
}

@media (max-width: 500px) {
    .page {
        margin-top: 0.5%;
    }
}
