.registerPage,
.loginPage {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: #e4e1f7;
    overflow: hidden;
}

.inputSection {
    width: 45%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}

.image {
    height: 100%;
    width: 55%;
}

.loginOrRegisterComponent {
    height: auto;
    width: auto;
    padding: 10%;
}

.logoLink {
    color: #000000;
    text-decoration: none;
}

.logo {
    height: max-content;
    width: 70%;
    text-decoration: none;
    color: #424242;
    font-size: 20px;
    margin-top: 22.5px;

}

.linkToLogIn{
    width: 30%;
    text-align: end;
}

.linkToLogIn a {
    color: #000000;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
}

.linkToLogIn a:hover{
    text-decoration:underline;
    color: #351939;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
}

.navlinkUnder,
.arrowLink {
    display: none;
}

.navlinkOver p{
    margin-top: 30px;
    font-size: 12px;
}

.imageimage {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

@media (max-width: 1020px) {

    .image,
    .imageimage,
    .logoLink,
    .navlinkOver {
        display: none;
    }

    .registerPage,
    .loginPage {
        justify-content: center;
        align-content: center;
    }

    .inputSection {
        width: 90vw;
        height: 100vh;
    }

    .navlinkUnder,
    .arrowLink {
        display: contents;
    }


    .arrow {
        font-size: 20px;
        color: #000;
        margin-left: 8%;
        margin-top: 15%;
        color: #424242;
    }

    .linkToLogInUnder a {
        color: #000000;
        font-weight: 300;
        font-size: 15px;
    }

    .linkToLogInUnder {
        text-align: center;
        text-decoration: underline;
    }

    .headerRegisterPage {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}