.registerPage,
.loginPage {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: #e4e1f7;
    overflow: hidden;
}

body[data-theme="dark"] .registerPage,
body[data-theme="dark"] .loginPage {
    background-color: #424242;
}

.inputSection {
    width: 45%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.image {
    height: 100%;
    width: 55%;
}

.loginOrRegisterComponent {
    height: auto;
    width: auto;
    padding: 10%;
}

.logoLink {
    height: max-content;
    width: 100%;
    text-decoration: none;
    color: #424242;
    font-size: 30px;
}

body[data-theme="dark"] .logoLink {
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    margin-left: 40px;
}

.linkToLogIn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    text-align: center;
    width: 85%;
    justify-content: end;
    align-items: center;
    text-align: end;
}

.linkToLogIn a {
    color: #424242;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
    margin-right: 40px;
}

body[data-theme="dark"] .linkToLogIn a {
    color: white;
}

.linkToLogIn a:hover {
    text-decoration: underline;
    color: #351939;
}

body[data-theme="dark"] .linkToLogIn a:hover {
    text-decoration: underline;
}

.header {
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navlinkUnder,
.arrowLink {
    display: none;
}

.navlinkOver p {
    font-size: 13px;
}

.navlinkOver {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 20px;
    font-size: 18px;
}

.imageimage {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

@media (max-width: 1020px) {
    .image,
    .imageimage,
    .logoLink,
    .navlinkOver {
        display: none;
    }

    .registerPage,
    .loginPage {
        justify-content: center;
        align-content: center;
    }

    .inputSection {
        width: 90vw;
        height: 100vh;
    }

    .navlinkUnder,
    .arrowLink {
        display: contents;
    }

    .arrow {
        font-size: 20px;
        color: #000;
        margin-left: 8%;
        margin-top: 15%;
        color: #424242;
    }

    body[data-theme="dark"] .arrow {
        color: white;
    }

    .linkToLogInUnder a {
        color: #000000;
        font-weight: 300;
        font-size: 15px;
    }

    body[data-theme="dark"] .linkToLogInUnder a {
        color: white;
    }

    .linkToLogInUnder {
        text-align: center;
        text-decoration: underline;
    }

    .headerRegisterPage {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-left: 0px;
        justify-content: start;
    }
}
