.registerPage{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #E4E1F7;

}

.logoLink{
    color:#000000;
    text-decoration: none;
}

.logo{
    height: max-content;
    width: 35vw;
    margin-left: 10px;
    text-decoration: none;
    color: #424242;
    font-size: 30px;
}

.linkToLogIn a{
    color: #000000;
    font-weight: 300;
    font-size: 15px;
}

.headerRegisterPage{
    display: flex; 
    flex-direction: row;
}

.navlinkUnder{
    display: none;
}
.inputSection{
    width: 50%;
    padding: 20px;
    justify-content: center;

}
.inputSection, .image {
    height: 100%;
    flex-grow: 1; /* Make both sections take up available space */
  }
  
  .image {
    height: 100vh; 
    width: 50vw;
  }
  
  .imageimage {
    width: 100%;
    object-fit: cover; 
  }

@media (max-width: 1140px){
    .image{
        display: none;
    }
    
    .imageimage{
        display: none;
    }

    .registerPage{
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }

    .inputSection{
        width: 70vw;
        padding: 0px;
        justify-content: center;

    }

    .navlinkUnder{
        display: contents;
        

    }

    .navlinkOver{
        display: none;
    }

    .linkToLogInUnder a{
        color: #000000;
        font-weight: 300;
        font-size: 15px;
    }

    .linkToLogInUnder{
        text-align: center;
        text-decoration: underline;
    }

    .logo{
        display: none;
    }
}


