/* Container for the entire page */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 3%;
    margin-bottom: 70px;
}

.noResultsMessage {
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
}

/* Header section containing the title and tabs */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* Page title styling */
.pageTitle {
    color: #424242;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

body[data-theme="dark"] .pageTitle {
    color: white;
}

/* Tabs container */
.tabs {
    display: flex;
    justify-content: flex-end;
}

/* Subtitle styling */
.subtitle {
    font-size: 16px;
    color: #666666;
    margin-bottom: 50px;
    text-align: center;
    font-weight: normal;
}

body[data-theme="dark"] .subtitle {
    color: #bebebe;
}

/* Grid layout for journal cards */
.grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    justify-items: center;
    justify-content: center;
}

.pagination {
    margin-bottom: 20px;
    flex-direction: row;
    justify-items: center;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .pageTitle {
        font-size: 20px;
    }

    .tabButton {
        font-size: 12px;
        padding: 6px 10px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .subtitle {
        font-size: 14px;
        padding: 5px;
    }
}
