.registerPage {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #e4e1f7;
}

.logo {
    height: max-content;
    width: 35vw;
    margin-left: 10px;
    text-decoration: none;
    color: #424242;
    font-size: 30px;
}

.linkToLogIn a {
    color: #000000;
    font-weight: 300;
    font-size: 15px;
}

.headerRegisterPage {
    display: flex;
    flex-direction: row;
}

.navlinkUnder {
    display: none;
}
.inputSection {
    width: 50%;
    padding: 20px;
    justify-content: center;
}

@media (max-width: 1024px) {
    .image {
        display: none;
    }

    .registerPage {
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }

    .inputSection {
        width: 70vw;
        padding: 0px;
        justify-content: center;
    }

    .navlinkUnder {
        display: contents;
    }

    .navlinkOver {
        display: none;
    }

    .linkToLogInUnder a {
        color: #000000;
        font-weight: 300;
        font-size: 15px;
    }

    .linkToLogInUnder {
        text-align: center;
        text-decoration: underline;
    }

    .logo {
        display: none;
    }
}
