.registerPage{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #E4E1F7;

}

.inputSection{
    width: 50%;
    padding: 20px;
    justify-content: center;

}

@media (max-width: 1124px){
    .image{
        display: none;
    }

    .registerPage{
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }

    .inputSection{
        width: 100%;
        padding: 0px;
        justify-content: center;

    }
}

