@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

body {
    font-family: "Poppins", sans-serif;
    transition: background-color 0.1s, color 0.1s;
}

/* Dark mode styles */
body[data-theme='dark'] {
    background-color: #333;
    color: white;
}
  
/* Light mode styles */
body[data-theme='light'] {
    background-color: white;
    color: #424242;
}