.reviewTitle {
    font-size: 25px;
}

.date {
    font-size: 15px;
    width: fit-content;
}

.returnLink {
    max-width: fit-content;
    font-size: 18px;
    text-decoration: none;
    color: #424242;
}

.returnLink:hover {
    text-decoration: underline;
}

body[data-theme="dark"] .returnLink {
    color: white;
}

body[data-theme="light"] .reviewBox {
    color: #424242;
}

.returnLink:visited {
    text-decoration: none;
}

.iconcontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    padding-bottom: 10px;
}

.deleteIcon {
    font-size: 27px;
    cursor: pointer;    
}

.upperSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-top: 20px;
    color: #424242;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}

body[data-theme="dark"] .title {
    color: white;
}

.checkBox {
    font-size: 25px;
}

.noCountry {
    height: 500px;
    width: 100%;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkBox:hover {
    cursor: pointer;
}

.publicInfoText {
    font-size: 14px;
    margin-top: 5px;
    font-weight: 300;
    font-style: italic;
}

.main {
    width: 100%;
}

.reviewBox {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fcf5ff;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    /*padding-bottom: 60px;*/
}

body[data-theme="dark"] .reviewBox {
    background-color: #8a86a4;
}

.reviewText {
    margin-top: 10px;
    background-color: #fcf5ff;
    width: 100%;
    height: 200px;
    font-size: 16px;
    overflow-y: auto;
    white-space: pre-wrap;
    line-height: 2;
}

body[data-theme="dark"] .reviewText {
    background-color: #8a86a4;
}

.starsContainer {
    display: flex;
    font-size: 2.5vw;
    color: #f5d103;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 600px) {
    /*Phone */
    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .deleteIcon {
        font-size: 24px;    
    }

    .reviewBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #fcf5ff;
        margin: 30px;
        height: 100%;
        border-radius: 10px;
        padding: 20px;
    }

    body[data-theme="dark"] .reviewBox {
        background-color: #8a86a4;
    }

    .reviewText {
        margin-top: 10px;
        background-color: #fcf5ff;
        font-size: 16px;
        overflow-y: auto;
        white-space: pre-wrap;
        line-height: 2;
    }

    body[data-theme="dark"] .reviewText {
        background-color: #8a86a4;
    }

    .starsContainer {
        display: flex;
        font-size: 7vw;
        color: #f5d103;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .reviewTitle {
        font-size: 25px;
        text-align: center;
        padding: 5px;
    }

    .returnLink {
        font-size: 16px;
        text-decoration: none;
        align-items: flex-start;
        color: #424242;
    }

    body[data-theme="dark"] .returnLink {
        color: white;
    }

    .upperSection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        margin-top: 10px;
        font-size: 32px;
        text-align: center;
    }
}
