@media (min-width: 601px) {
    .reviewBox {
        position: relative;
        background-color: #fcf5ff;
        margin-top: 30px;
        margin-bottom: 30px;
        max-width: 100%;
        height: 290px;
        border: none;
        border-radius: 10px;
        resize: none;
        padding: 20px;
        padding-bottom: 60px;
    }

    .reviewTitle {
        font-size: 25px;
        width: fit-content;
    }

    .date {
        font-size: 15px;
        width: fit-content;
    }

    .reviewText {
        margin-top: 10px;
        position: absolute;
        background-color: #fcf5ff;
        width: 97%;
        height: 180px;
        font-size: 16px;
        overflow-y: scroll;
        white-space: pre-wrap;
        line-height: 2;
    }

    .starsContainer {
        position: absolute;
        left: 10px;
        bottom: 55px;
        display: flex;
        gap: 10px;
        width: fit-content;
        font-size: 35px;
        color: #f5d103;
    }

    .publicContainer {
        position: absolute;
        display: flex;
        flex-direction: row;
        bottom: 20px;
        gap: 10px;
        width: fit-content;
    }

    .checkBox {
        font-size: 25px;
    }

    .checkBox:hover {
        cursor: pointer;
    }

    .noJournal {
        font-size: 32px;
        font-style: italic;
        margin-top: 50px;
        text-align: center;
    }
}

@media (max-width: 500px) {
    /*Phone */
    .reviewBox {
        position: relative;
        background-color: #fcf5ff;
        margin-top: 30px;
        margin-bottom: 30px;
        max-width: 100%;
        height: 320px;
        border: none;
        border-radius: 10px;
        resize: none;
        padding: 20px;
        padding-bottom: 60px;
    }
    .reviewTitle {
        font-size: 25px;
        width: fit-content;
    }

    .date {
        font-size: 15px;
        width: fit-content;
    }

    .reviewText {
        margin-top: 10px;
        width: 100%;
        background-color: #fcf5ff;
        height: 180px;
        font-size: 16px;
        overflow-y: scroll;
        white-space: pre-wrap;
        line-height: 2;
    }

    .starsContainer {
        position: absolute;
        left: 10px;
        bottom: 55px;
        display: flex;
        gap: 10px;
        width: fit-content;
        font-size: 35px;
        color: #f5d103;
    }

    .publicContainer {
        position: absolute;
        display: flex;
        flex-direction: row;
        bottom: 20px;
        gap: 10px;
        width: fit-content;
    }

    .checkBox {
        font-size: 25px;
    }

    .checkBox:hover {
        cursor: pointer;
    }

    .noJournal {
        font-size: 24px;
        font-style: italic;
        margin-top: 70px;
        text-align: center;
    }
}
