.reviewCard {
    background-color: #fcf5ff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    color: #424242;
    height: 230px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.reviewTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.reviewDate {
    font-size: 16px;
    opacity: 0.8;
}

.reviewRating {
    font-size: 16px;
}

.reviewInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.user {
    display: flex;
    align-items: center;
    gap: 6px;
}

.reviewText {
    font-size: 16px;
    line-height: 1.4;
    overflow: hidden;
    height: 100%; /* Limit height to create uniform card size */
    -webkit-line-clamp: 3; /* Limit the number of lines */
    line-clamp: 2; /* Standard property for compatibility */
    -webkit-box-orient: vertical;
    padding-bottom: 2px;
}

.readMoreButton {
    background-color: #424242;
    color: white;
    padding: 2px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    width: fit-content;
}

.readMoreButton:hover {
    background-color: #797979;
}

.readMoreButton:focus {
    background-color: #424242; /* Match the default background color */
}

.readMoreButton:active {
    background-color: #797979; /* Match the hover background color */
}

.starIcon {
    margin-right: 6px;
}

.profileIcon {
    margin-right: 5px;
}

.reviewer {
    vertical-align: middle;
}

@media (max-width: 768px) {
    .reviewCard {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        flex-basis: 100%;
        height: auto;
    }
    .reviewText {
        height: auto;
        -webkit-line-clamp: unset;
        line-clamp: unset;
    }
}
