/* PublicJournalEntry.module.css */

.reviewCard {
    background-color: #FCF5FF;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    color: #424242;
    height: 175px; /* Må gjøre noe smart her for å få alle kortene like høye */
    display: flex;
    flex-direction: column; /* Ensure the content stacks vertically */
}
  
.reviewTitle {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.reviewDate {
    font-size: 14px;
    margin-bottom: 10px;
    opacity: 0.8;
}
  
.reviewRating {
    font-size: 16px;
}
  
.reviewText {
    font-size: 16px;
}
  
.readMoreButton {
    background-color: #424242;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
  
.readMoreButton:hover {
    background-color: #797979;
}

.starIcon {
    margin-right: 10px;
}

.reviewInfo {
    display: flex; /* Enable flexbox layout */
    justify-content: space-between; /* Space elements to opposite ends (left and right) */
    align-items: center; /* Vertically align the items if needed */
    width: 100%; /* Ensure it spans the full width of the container */
    margin-bottom: 10px; /* Add some space between the elements */
    color: #424242; /* Set the text color */
}

.profileIcon {
    margin-right: 5px;
}

.reviewer {
    vertical-align: middle;
}

@media (max-width: 768px) {
    .reviewCard {
        flex-basis: 100%;  /* Make the cards take full width on smaller screens */
        max-width: 100%;   /* Ensure they don't exceed the container width */
    }
}
