.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.user {
    display: flex;
    align-items: center;
    gap: 6px;
}

.modalContent {
    background: #fcf5ff;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

body[data-theme='dark'] .modalContent {
    background: #8A86A4;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

body[data-theme='dark'] .closeButton {
    color: white;
}

.modalTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.modalDate {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

body[data-theme='dark'] .modalDate {
    color: #dfdfdf;
}

.modalInfo {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
}

.modalRating,
.modalReviewer {
    display: flex;
    align-items: center;
    gap: 6px;
}

.modalText {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-top: 10px;
}

body[data-theme='dark'] .modalText {
    color: white;
}
