.filtercontainer {
    background-color: #E4E1F7;
    height: fit-content;
    width: 180px;

    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

.informationbox {
    height: fit-content;
    width: 100%;
}

.title {
    color: #424242;
    font-size: 22px;
}

.decription {
    color: #424242;
    font-size: 17px;
    margin-top: 10px;
}

.filterlist {
    font-size: 15px;
    gap: 14px;
}

.filteritem {
    display: flex;
    align-items: center;
    gap: 5px;  
    color: #424242;  
}

.checkbox {
    display: none;
}

.customCheckbox {
    cursor: pointer;
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #424242;
}

.checkboxVisual {
    height: 12px;
    width: 12px;
    border: 1px solid #424242;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox:checked + label .checkboxVisual {
    background-color: #424242; 
}

@media (max-width: 620px) {
    .title {
        display: none;
    }

    .decription {
        display: none;
    }

    .filtercontainer {
        background-color: white;
        height: fit-content;
        width: 340px;
    
        display: flex;
        justify-content: center;
        margin-left: 10px;
    }

    .informationbox {
        height: fit-content;
        width: 100%;
    }

    .filterlist {
        font-size: 13px;
        gap: 14px;

        display: flex;
        flex-direction: row;
        
        overflow-x: auto;
        white-space: nowrap;
    }

    .checkboxVisual {
        display: none;
    }

    .customCheckbox {
        height: fit-content;
        width: fit-content;
        padding: 5px;

        border-radius: 10px;
        border: 2px solid #E4E1F7;
    }

    .checkbox:checked + .customCheckbox {
        background-color: #E4E1F7; 
    }
}